:host {  
  font-family:Arial, Helvetica, sans-serif;
}

.vitalSignsTabla input{
  color: rgb(67, 98, 143);
  font-size: 1.1em;
  padding: 8px;
  width: 50%;
  text-align: center;
  border-color: rgb(240, 240, 240);
}

.vitalSigns{  
  display: flex;
  justify-content: center;
}

.vitalSignsTabla td{
  margin: 2px;
  border-bottom: 1.2px solid rgb(233, 233, 233);
}

.vitalSignsTextos{
  color: rgb(87, 87, 87);
  font-size: 1em;
  padding: 12px;
}