$width: 32px;
$height: 32px;
$nimbo_color: #107EFE;
$border_color: #d9e4eb;
.vaccination-module {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #d9e4eb;
    border-radius: 0.25rem;
    margin-top: 10px;
    width: 100%;
    background: white;
}

.vaccination-module-head {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fdfdfd;
    border-bottom: 1px solid #d9e4eb;
    border-radius: 0.25rem 0.25rem 0 0;
    height: 35px;
}

.icon-print {
    all: unset;
    width: $width;
    height: 34px;
    cursor: pointer;
    position: relative;
    border-left: solid 1px $border_color;
    background-color: none;
}

.icon-print::before {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("https://nimbox-production.s3.amazonaws.com/publico/microfrontends/vaccines/print.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(30%);
}

.icon-arrow-down {
    all: unset;
    width: $width;
    height: $height;
    cursor: pointer;
    position: relative;
}

.title {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #59636d;
    align-items: center;
    padding: 10px;
}

.print-btn-container {
    float: right;
    margin-top: -35px;
}