
.vaccine-table-card,th ,td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

#vaccineCardFormat {
  width: 100%;
  display: none;
  position: absolute;
  top:0;
  left: 0;
}

