    $width: 32px;
    $height: 32px;
    $nimbo_color: #107EFE;
    $border_color: #d9e4eb;
    .vaccine-module {
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 1px solid #d9e4eb;
        border-radius: 0.25rem;
        margin-bottom: 10px;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .vaccine-module-head {
        margin-bottom: 10px;
        border-radius: 0.25rem 0.25rem 0 0;
        padding-top: 15px;
        padding-left: 10px;
    }
    
    .vaccine-item {
        padding: 14px;
    }
    
    .chevron {
        right: 0;
    }
    
    .show {
        display: block;
    }
    
    .hidden {
        display: none;
    }
    
    .icon-arrow-down {
        all: unset;
        width: $width;
        height: $height;
        cursor: pointer;
        position: relative;
    }
    
    .icon-arrow-down::before {
        content: "";
        display: block;
        width: 50%;
        height: 50%;
        background: gray;
        pointer-events: none;
        position: absolute;
        left: 28%;
        top: 34%;
        transform: translate(-50%, -50%);
        mask-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJhbmdsZS1kb3duIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtYW5nbGUtZG93biBmYS13LTEwIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMyMCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE0MyAzNTIuM0w3IDIxNi4zYy05LjQtOS40LTkuNC0yNC42IDAtMzMuOWwyMi42LTIyLjZjOS40LTkuNCAyNC42LTkuNCAzMy45IDBsOTYuNCA5Ni40IDk2LjQtOTYuNGM5LjQtOS40IDI0LjYtOS40IDMzLjkgMGwyMi42IDIyLjZjOS40IDkuNCA5LjQgMjQuNiAwIDMzLjlsLTEzNiAxMzZjLTkuMiA5LjQtMjQuNCA5LjQtMzMuOCAweiI+PC9wYXRoPjwvc3ZnPg==");
        -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJhbmdsZS1kb3duIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtYW5nbGUtZG93biBmYS13LTEwIiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDMyMCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTE0MyAzNTIuM0w3IDIxNi4zYy05LjQtOS40LTkuNC0yNC42IDAtMzMuOWwyMi42LTIyLjZjOS40LTkuNCAyNC42LTkuNCAzMy45IDBsOTYuNCA5Ni40IDk2LjQtOTYuNGM5LjQtOS40IDI0LjYtOS40IDMzLjkgMGwyMi42IDIyLjZjOS40IDkuNCA5LjQgMjQuNiAwIDMzLjlsLTEzNiAxMzZjLTkuMiA5LjQtMjQuNCA5LjQtMzMuOCAweiI+PC9wYXRoPjwvc3ZnPg==");
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    
    .icon-arrow-up {
        all: unset;
        width: $width;
        height: $height;
        cursor: pointer;
        position: relative;
    }
    
    .icon-arrow-up::before {
        content: "";
        display: block;
        width: 50%;
        height: 50%;
        background: gray;
        pointer-events: none;
        position: absolute;
        left: 28%;
        top: 34%;
        transform: translate(-50%, -50%);
        mask-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJhbmdsZS11cCIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWFuZ2xlLXVwIGZhLXctMTAiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzIwIDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMTc3IDE1OS43bDEzNiAxMzZjOS40IDkuNCA5LjQgMjQuNiAwIDMzLjlsLTIyLjYgMjIuNmMtOS40IDkuNC0yNC42IDkuNC0zMy45IDBMMTYwIDI1NS45bC05Ni40IDk2LjRjLTkuNCA5LjQtMjQuNiA5LjQtMzMuOSAwTDcgMzI5LjdjLTkuNC05LjQtOS40LTI0LjYgMC0zMy45bDEzNi0xMzZjOS40LTkuNSAyNC42LTkuNSAzNC0uMXoiPjwvcGF0aD48L3N2Zz4=");
        -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJhbmdsZS11cCIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWFuZ2xlLXVwIGZhLXctMTAiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzIwIDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNMTc3IDE1OS43bDEzNiAxMzZjOS40IDkuNCA5LjQgMjQuNiAwIDMzLjlsLTIyLjYgMjIuNmMtOS40IDkuNC0yNC42IDkuNC0zMy45IDBMMTYwIDI1NS45bC05Ni40IDk2LjRjLTkuNCA5LjQtMjQuNiA5LjQtMzMuOSAwTDcgMzI5LjdjLTkuNC05LjQtOS40LTI0LjYgMC0zMy45bDEzNi0xMzZjOS40LTkuNSAyNC42LTkuNSAzNC0uMXoiPjwvcGF0aD48L3N2Zz4=");
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
    
    .icon-trash {
        all: unset;
        width: 28px;
        height: 28px;
        cursor: pointer;
        position: relative;
        border-radius: 0.25rem;
        margin-right: 25px;
        filter: invert(17%) sepia(70%) saturate(7500%) hue-rotate(358deg) brightness(99%) contrast(120%);
    }
    
    .icon-trash::before {
        content: "";
        display: block;
        width: 50%;
        height: 50%;
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url("https://nimbox-production.s3.amazonaws.com/publico/microfrontends/vaccines/trash.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .icon-edit {
        all: unset;
        width: 28px;
        height: 28px;
        cursor: pointer;
        position: relative;
        border-radius: 0.25rem;
        margin-right: 10px;
        filter: invert(74%) sepia(70%) saturate(3082%) hue-rotate(98deg) brightness(96%) contrast(95%);
    }
    
    .icon-edit::before {
        content: "";
        display: block;
        width: 50%;
        height: 50%;
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url("https://nimbox-production.s3.amazonaws.com/publico/microfrontends/vaccines/pen.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .line-header {
        width: 98%;
        height: 1px;
        background-color: $border_color;
        margin-left: 1%;
    }
    
    .notes {
        width: 100%;
        border: 1px solid $border_color;
        padding: 6px 12px;
        resize: none;
        color: #555555;
    }
    
    .notes:hover {
        width: 100%;
    }
    
    .notes:focus {
        border: 1px solid $nimbo_color !important;
        outline: none;
    }
    
    .lote {
        border: 1px solid $border_color !important;
        width: 100% !important;
        border-radius: 1px;
        height: 30px !important;
        padding: 6px 12px !important;
        color: #555555;
    }
    
    .lote:hover {
        color: #555555;
        border-radius: 1px;
        height: 30px !important;
        padding: 6px 12px;
    }
    
    .lote:focus {
        color: #555555;
        border: 1px solid $nimbo_color !important;
        outline: none;
        height: 30px !important;
        padding: 10px;
    }
    
    .btn-group {
        float: right;
    }
    
    .btn-save {
        border: solid 1px $nimbo_color;
        background-color: $nimbo_color;
        border-radius: 5px;
        padding: 8px 15px;
        color: white;
        margin-top: 5px;
        margin-right: 25px;
        cursor: pointer;
        outline: none;
    }
    
    .btn-cancell {
        border: solid 1px $nimbo_color;
        border-radius: 5px;
        padding: 8px 15px;
        color: $nimbo_color;
        margin-top: 5px;
        margin-right: 10px;
        cursor: pointer;
        outline: none;
    }
    
    .vaccine-module-footer {
        height: 40px;
        border-radius: 0 0 0.25rem 0.25rem;
        margin-bottom: 20px;
    }
    
    .input-vaccine-name {
        margin-top: -2px;
        border: 1px solid $border_color;
        border-radius: 1px;
        height: 22px;
        padding-left: 7px;
    }
    
    .input-vaccine-name:focus {
        border: solid 1px $nimbo_color;
        outline: none;
    }
    
    .contenedor {
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: flex;
        color: #76869e;
        width: 100%;
        font-size: 15px;
    }
    
    .date-picker-label {
        width: 15%;
        margin-top: 12px;
        margin-right: 4px;
    }
    
    .date-picker {
        width: 30%;
        margin-left: -10px;
        margin-top: 12px;
    }
    
    .tag-item {
        width: 13%;
    }
    
    .input-item {
        width: 86%;
    }
    
    .tag-vaccine-name {
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: 500;
    }
    
    .next-dose-input {
        height: 30px;
        font-size: 14px;
        width: 94%;
        border: 1px solid $border_color;
        padding: 6px 12px;
        border-radius: 1px;
    }
    
    .next-dose-input:focus {
        border: 1px solid $nimbo_color;
        outline: none;
    }
    
    .application-date-input {
        height: 30px;
        font-size: 14px;
        width: 60%;
        border: 1px solid $border_color;
        padding: 6px 12px;
        border-radius: 1px;
    }
    
    .application-date-input:focus {
        border: 1px solid $nimbo_color;
        outline: none;
    }
    
    .next-dose-label {}
    
    .vaccine-cont {
        transition: height 4s;
    }
    
    .readonly {
        background-color: #eeeeee !important;
        color: #59636d !important;
    }